@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hides the purple Next.js dev overlay badge */
nextjs-portal {
  display: none !important;
}

/* Also try this if the above doesn’t work */
#__next-route-announcer,
#__next-dev-overlay,
[data-nextjs-dialog] {
  display: none !important;
}
